[submodule "test/data"]
        path = test/data
        url = https://github.com/mapnik/test-data.git
        branch = master
[submodule "test/data-visual"]
        path = test/data-visual
        url = https://github.com/mapnik/test-data-visual.git
        branch = master
[submodule "deps/mapbox/variant"]
        path = deps/mapbox/variant
        url = https://github.com/mapbox/variant.git
        branch = master
[submodule "deps/mapbox/geometry"]
        path = deps/mapbox/geometry
        url = https://github.com/mapbox/geometry.hpp.git
        branch = master
[submodule "deps/mapbox/protozero"]
        path = deps/mapbox/protozero
        url = https://github.com/mapbox/protozero.git
        branch = master
[submodule "deps/mapbox/polylabel"]
        path = deps/mapbox/polylabel
        url = https://github.com/mapbox/polylabel.git
[submodule "deps/mapbox/mapnik-vector-tile"]
	path = deps/mapbox/mapnik-vector-tile
	url = https://github.com/mapnik/mapnik-vector-tile.git
