*.o
*.pyc
*.os
*.so
*.a
*.dylib
*.cpp~
*.hpp~
plugins/input/*.input
plugins/input/templates/hello.input
demo/c++/rundemo
bindings/python/mapnik/paths.py
config.cache
config.log
config.py
.sconf_temp/
.sconsign.dblite
demo/viewer/viewer.ini
tests/cpp_tests/font_registration_test
tests/python_tests/raster_colorizer_test.png
tests/python_tests/raster_colorizer_test_save.xml
utils/mapnik-config/mapnik-config
utils/mapnik-config/mapnik2.pc
utils/shapeindex/shapeindex
utils/pgsql2sqlite/pgsql2sqlite
utils/svg2png/svg2png
demo/python/demo*
demo/python/map.xml