language: cpp

compiler:
 - gcc
 # disabled to due https://github.com/mapnik/mapnik/issues/2235
 #- clang

# http://about.travis-ci.org/blog/2013-11-29-postgresql-92-93-now-available/
# disabled since it conflicts with ubuntugis ppa
#addons:
#  postgresql: "9.3"

before_install:
 # we need at least g++-4.7 for c++11 features
 - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
 # grab more recent gdal/proj
 - sudo add-apt-repository -y ppa:ubuntugis/ubuntugis-unstable
 # more recent boost
 - sudo add-apt-repository -y ppa:boost-latest/ppa
 - sudo apt-get update -y
 # upgrade compilers
 - sudo apt-get install -y gcc-4.8 g++-4.8
 - sudo apt-get install -y make boost1.55 libgdal-dev postgis postgresql-9.1-postgis-2.0-scripts libpq-dev python-nose libicu-dev libpng-dev libjpeg-dev libtiff-dev libwebp-dev libz-dev libfreetype6-dev libxml2-dev libproj-dev libcairo-dev python-cairo-dev libsqlite3-dev
 - wget http://mapnik.s3.amazonaws.com/deps/harfbuzz-0.9.24.tar.bz2
 - tar xf harfbuzz-0.9.24.tar.bz2
 - cd harfbuzz-0.9.24
 - ./configure && make && sudo make install
 - sudo ldconfig
 - cd ../
 - psql -c "drop database if exists template_postgis" -U postgres
 - psql -c "create database template_postgis" -U postgres
 - psql -c "create extension postgis" -d template_postgis -U postgres

install:
 - if [ "${CXX}" = 'g++' ]; then export CXX="g++-4.8" && export CC="gcc-4.8"; fi;
 - ./configure CXX=${CXX} CC=${CC} DEMO=False BINDINGS=${BINDINGS} BENCHMARK=${BENCHMARK} CPP_TESTS=${CPP_TESTS} CAIRO=True FAST=True || cat config.log
 - JOBS=1 make

env:
  - TESTS_TO_RUN=python BINDINGS=python CPP_TESTS=false BENCHMARK=false
  - TESTS_TO_RUN=visual BINDINGS=python CPP_TESTS=false BENCHMARK=false
  - TESTS_TO_RUN=cpp BINDINGS=none CPP_TESTS=true BENCHMARK=true

before_script:
 - make test-$TESTS_TO_RUN

script:
 - if [ "${BENCHMARK}" = true ]; then make bench; fi;

notifications:
  irc:
    channels:
      - "irc.freenode.org#mapnik"
    use_notice: true
  email:
    on_success: [never]
    on_failure: [change]
