sudo: required
language: cpp

compiler:
 - clang
 - gcc

env:
  matrix:
   - XMLPARSER="libxml2" DEBUG=False
   - XMLPARSER="libxml2" DEBUG=True
   - XMLPARSER="ptree" DEBUG=True

addons:
  apt:
    sources:
      - boost-latest
    packages:
      - libboost-filesystem1.54-dev
      - libboost-program-options1.54-dev
      - libboost-python1.54-dev
      - libboost-regex1.54-dev
      - libboost-system1.54-dev
      - libboost-thread1.54-dev
      - libcairo2-dev
      - libfreetype6-dev
      - libicu-dev
      - libjpeg-dev
      - libpng-dev
      - libproj-dev
      - libspatialite-dev
      - libsqlite3-dev
      - libtiff4-dev
      - libwebp-dev
      - libxml2-dev
      - postgis
      - python-cairo-dev
      - python-nose
      - valgrind
  postgresql: 9.4

# travis + ubuntugis with gdal and postggis leads to many potential dead-end conflicts
before_install:
 - grep '^deb ' /etc/apt/sources.list.d/*.list
 - apt-cache showpkg postgresql-9.4-postgis-2.1
 - apt-cache showpkg postgresql-9.4-postgis-2.2
 - apt-cache policy postgis
 - apt-cache policy libgdal1
 - apt-cache policy libgdal1-dev
 - apt-cache policy libgdal-dev
 - sudo apt-get install --force-yes {libgdal1,libgdal1-dev,libgdal-dev}='1.9.0-*'
 - sudo service postgresql restart

install:
 - gdal-config --version || true
 - gdal-config --ogr-enabled || true

before_script:
 - psql -U postgres -c 'create database template_postgis'
 - psql -U postgres -c 'create extension postgis' -d template_postgis
 - if [[ "${CXX}" == 'g++' ]]; then export JOBS=2; fi;
 - if [[ "${CXX}" == 'clang++' ]]; then export JOBS=4; fi;
 - if [[ "${DEBUG}" == True ]]; then export JOBS=$((JOBS/2)); fi;

script:
 - ./configure CXX=${CXX} CC=${CC} XML_PARSER=$XML_PARSER DEBUG=${DEBUG} DEMO=True BENCHMARK=False BINDINGS='python' CPP_TESTS=True CAIRO=True FAST=True
 - make
 - make test-local
 - source localize.sh && make grind
