name: Build and Test

on:
  push:
    branches:
      - "*"
  pull_request:
    branches-ignore:
      - "no-ci-*"

env:
  VCPKG_BINARY_SOURCES: "clear;nuget,GitHub,readwrite"
  VCPKG_NUGET_REPOSITORY: https://github.com/mathisloge/vcpkg-nuget.git

jobs:
  checkSource:
    name: Check Source Code
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - uses: pre-commit/action@v3.0.1

  buildAndTest:
    name: >-
      Build & Test
      (${{ matrix.os }})
      (C++ ${{ matrix.cxx-standard }})
      ${{ startsWith(matrix.os, 'macos-') && (matrix.os == 'macos-14' && '(ARM64)' || '(AMD64)') || '' }}
    needs: checkSource
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-13
          - macos-14
          - ubuntu-latest
          - windows-2019
        cxx-standard:
          - 17
        include:
          - os: macos-13
            mono: mono
          - os: macos-14
            mono: mono
          - os: ubuntu-latest
            mono: mono
          - os: windows-2019

    runs-on: ${{ matrix.os }}

    steps:
      - name: "Install required system packages"
        shell: bash
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            choco install ninja OpenCppCoverage
            echo "C:\Program Files\OpenCppCoverage" >> ${GITHUB_PATH}
          elif [ "$RUNNER_OS" == "Linux" ]; then
            sudo apt update
            sudo apt install -y gperf libxxf86vm-dev ninja-build postgresql-client lcov autoconf-archive
          else
            brew install automake ninja lcov autoconf-archive
          fi

      - uses: ilammy/msvc-dev-cmd@v1
        if: runner.os == 'Windows'

      - name: checkout mapnik
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: setup vcpkg
        uses: ./.github/actions/setup_vcpkg
        with:
          vcpkg-sha: ad25766aefb5313b6bc4e2a4b78a2946f84fbf66
          nuget-source: https://nuget.pkg.github.com/mapnik/index.json
          nuget-username: ${{ github.actor }}
          nuget-pat: ${{ secrets.GITHUB_TOKEN }}
          mono: ${{ matrix.mono }}

      - name: Set PRESET environment variable to lower case runner OS
        shell: bash
        run: |
          LC_RUNNER_OS=$(echo "${RUNNER_OS}" | perl -ne "print lc")
          if [ "${RUNNER_OS}" == "macOS" ]; then
            MACOS_ARCH=${{ (matrix.os == 'macos-14' || matrix.os == 'macos-latest') && 'arm64' || 'x64' }}
            echo "PRESET=${LC_RUNNER_OS}-ci-${MACOS_ARCH}" >> ${GITHUB_ENV}
          else
            echo "PRESET=${LC_RUNNER_OS}-ci" >> ${GITHUB_ENV}
          fi

      - name: Ensure libtool is installed on macOS
        shell: bash
        run: brew install libtool
        if: runner.os == 'macOS'

      - name: Configure CMake
        shell: bash
        run: |
          cmake \
            -DBUILD_SHARED_LIBS:BOOL='ON' \
            -DCMAKE_CXX_STANDARD=${{ matrix.cxx-standard }}  \
            -DUSE_MEMORY_MAPPED_FILE:BOOL='ON' \
            -LA \
            --preset ${{ env.PRESET }}

      - name: Build
        run: cmake --build --preset ${{ env.PRESET }}

      - name: Run Tests
        uses: ./.github/actions/run_tests
        with:
          cmake-preset: ${{ env.PRESET }}
